body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.header{
  display: flex;
  justify-content: space-between;
}
.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  width: 190px;
  height: 35px;
  font: bold 24px/32px PT Serif, arial, helvetica,sans-serif;
}
.logo__circle{
position: absolute;
width: 28px;
height: 28px;
top: 50%;
left: 0;
transform: translateY(-50%);
border-radius: 50%;
opacity: .7;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.menu{
  display: flex;
  align-items: center;
 font-family: Roboto;
}
.menu__item{
   padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
.main-content__title{
  font-family: PT Serif;
}
.main-content__subtitle{
font-family: Roboto;
}
.main-content__button{
  font-family: Roboto;
}
